<!doctype html>
	<html lang="fr">
		<head>
			<meta charset="utf-8">
			<title>Page test Jp</title>
		</head>
		<body>
        
        <script src="{{url_for('static', filename = 'js/test.js')}}"></script>



		<script type="text/javascript" >
			var intl=new Intl.DateTimeFormat("en-US",{month:"2-digit",day:"2-digit", hour12: false,hour:"2-digit", minute:"2-digit" });
			var temps = new Date(1598920000.3*1000);
			console.log( intl.format(temps));

		</script>	

		<h5> index.html </h5><br>

		<h3> Formulaire de connexion </h3>
			<form action="http://localhost:8080/leaflet" method="post">
				<h2>Depart</h2>
					<label>Latitude</label> : <input type="text" name="latdep" value= 40 /><br>
					<label>Longitude</label> : <input type="text" name="lngdep" value= 5 /><br>
					<h2>Arrivee</h2>
					<label>Latitude</label> : <input type="text" name="latar"   value= 45  ><br>
					<label>Longitude</label> : <input type="text" name="lngar"  value= -70 /><br>

					<input type="submit" value="Envoyer" />
					<br><br>


					<div id ='test'>Test </div> 
			</form>
		</body>
	</html>

